<div ng-init="init()" class="engine-page">
	<a ui-sref="semester" class="pull-right btn btn-primary btn-outline btn-rounded">Back to My Classes</a>
	<h2>Demo of <a href="https://www.youtube.com/watch?v=fLSfgNxoVGk">this Youtube video</a></h2>
	<h3>that showcases the power of Kolot in the hands of a creator</h3>
	<br>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-8 col-md-offset-4 col-lg-offset-2">
					<audio id="player" controls src="audio/ATourofthePeriodicTable.mp3"></audio>
					<p id="displaydiv" class="jumbotron"></p>
				</div>	
			</div>
	</div>
</div>