<div ng-init="init()" class="engine-page">
	<a ui-sref="semester" class="pull-right btn btn-primary btn-outline btn-rounded">Back to My Classes</a>
	<h2>Today's lecture</h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-8 col-md-offset-4 col-lg-offset-2">
					<audio id="player" controls src="audio/TheFlippedClassroomModel.mp3"></audio>
					<p id="displaydiv" class="jumbotron"></p>
				</div>	
			</div>
<!-- 			<div class="row">	
				<div class="col-md-4 col-lg-8 col-md-offset-4 col-lg-offset-2">
					<form class="form-inline">
					    <div class="form-group">
						    <input type="text" class="form-control" placeholder="Search term">
					    </div>
						  	<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
					</form>
				</div>	
			</div> -->
	</div>
</div>

