<div>
	<a ui-sref="today" class="pull-right btn btn-primary btn-outline btn-rounded">Today</a>
	<h2>My classes <small>This semester</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Classes</h1>
			<div class="list-group">
			  	<a ui-sref="class" class="list-group-item">
			    	<h4 class="list-group-item-heading">Precalculus I</h4>
			  	</a>
			  	<a ui-sref="class" class="list-group-item">
			    	<h4 class="list-group-item-heading">Physic I</h4>
			  	</a>
			  	<a ui-sref="class" class="list-group-item">
			    	<h4 class="list-group-item-heading">Statistics</h4>
			  	</a>
			</div>
		</div>
	</div>
</div>