<div>
	<a ui-sref="semester" class="pull-right btn btn-primary btn-outline btn-rounded">Back to My Classes</a>
	<h2>Today</h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
			<h1>Lectures</h1>
			<div class="list-group">
			  	<a ui-sref="engine" class="list-group-item">
			    	<h4 class="list-group-item-heading">Precalculus I</h4>
			  	</a>
			  	<a ui-sref="engine" class="list-group-item">
			    	<h4 class="list-group-item-heading">Physic I</h4>
			  	</a>
			  	<a ui-sref="engine" class="list-group-item">
			    	<h4 class="list-group-item-heading">Statistics</h4>
			  	</a>
			</div>
		</div>
	</div>
</div>