<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
        <h2 class="brand">Connecticut School <small>Kolot Engine</small></h2>
        <img src="images/conn.png" class="img-responsive img-circle" /><br />
        <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
      </div>

      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('myclasses')}"><a ui-sref="semester">My Classes<span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: $state.includes('today')}"><a ui-sref="today">Today's Classes</a></li>
        <li ng-class="{active: $state.includes('demo')}"><a ui-sref="demo">Demo</a></li>
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>